[Desktop Entry]
Name=Bookworm
GenericName=eBook Reader
Comment=Read and manage eBooks
Categories=Office;Viewer;
MimeType=application/epub+zip;application/pdf;application/x-pdf;application/cbr;application/x-cbz;
Exec=com.github.babluboy.bookworm %F
Icon=com.github.babluboy.bookworm
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=bookworm
Keywords=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
