GtkButton.PROFILE_BUTTON_1 {
  color: #000000;
  background-color: #fbfbfb;
  border-color: #B0C4DE;
}
GtkButton.PROFILE_BUTTON_2 {
  color: #586e75;
  background-color: #fdf6e3;
  border-color: #B0C4DE;
}
GtkButton.PROFILE_BUTTON_3 {
  color: #93a1a1;
  background-color: #002b36;
  border-color: #B0C4DE;
}
