[Desktop Entry]
Name=Bookworm
Version=0.3
GenericName=eBook Reader
Comment=A simple ebook reader for Elementary OS
Categories=GTK;Office
MimeType=application/epub+zip;
Exec=bookworm
Icon=bookworm
Type=Application
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=bookworm
X-GNOME-Keywords=bookworm;ebook;reader;epub
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=bookworm --about
Name=About Bookworm
